<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.ApplyMapper">
    <resultMap id="apply" type="com.acmed.his.model.Apply">
        <id property="id" column="id"></id>
        <result property="clinicNo" column="clinicno"></result>
        <result property="orgCode" column="orgcode"></result>
        <result property="orgName" column="orgname"></result>
        <result property="patientId" column="patientid"></result>
        <result property="patientName" column="patientname"></result>
        <result property="gender" column="gender"></result>
        <result property="pinYin" column="pinYin"></result>
        <result property="fee" column="fee"></result>
        <result property="isPaid" column="ispaid"></result>
        <result property="feeType" column="feetype"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyAt" column="modifyat"></result>
        <result property="createBy" column="createby"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="expire" column="expire"></result>
        <result property="status" column="status"></result>
        <result property="deptName" column="deptname"></result>
        <result property="dept" column="dept"></result>
        <result property="age" column="age"></result>
        <result property="totalFee" column="totalfee"></result>
    </resultMap>

    <update id="statisFee">
      update t_b_apply
      set totalfee = (select SUM(fee) from t_b_prescription where applyid = #{id})
      where id = #{id}
    </update>

    <select id = "getDispensingList" resultType="com.acmed.his.model.dto.DispensingDto">
        SELECT apply.id,apply.clinicno,apply.patientname,apply.gender,apply.age,
        patient.mobile,user.nickname as doctorname,
        pre.fee,pre.isdispensing,pre.ispaid,pre.createat as diagnosedate
        from t_b_apply apply
        JOIN t_b_prescription pre on apply.id = pre.applyid
        JOIN t_b_patient patient on apply.patientid = patient.id
        JOIN t_p_s_user user on pre.createby = user.id

        <trim prefixOverrides="and" prefix="where">
            <if test="@Ognl@isNotEmpty(orgCode)">
                and apply.orgcode = #{orgCode}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                and (apply.patientname like CONCAT('%',#{name},'%') or patient.mobile like CONCAT('%',#{name},'%'))
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 1">
                and pre.ispaid = '0'
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 2">
                and pre.ispaid = '1' and pre.isdispensing = '0'
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 3">
                and pre.ispaid = '2'
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 4">
                and pre.isdispensing = '1'
            </if>
        </trim>
    </select>

    <select id="mohu" resultType="com.acmed.his.model.Apply">
        SELECT t1.* FROM t_b_apply t1
        <trim prefixOverrides="and" prefix="where">
            and t1.dept = #{dept}
            <if test="@Ognl@isNotEmpty(name)">
                and (patientname like CONCAT('%',#{name},'%') or pinyin like CONCAT('%',#{name},'%'))
            </if>
            <if test="@Ognl@isNotEmpty(status)">
                and t1.status = #{status}
            </if>
            <if test="@Ognl@isNotEmpty(date)">
                and DATE(t1.appointmenttime) =  DATE(#{date})
            </if>
            <if test="@Ognl@isNotEmpty(isPaid)">
                and t1.ispaid = #{isPaid}
            </if>
        </trim>
    </select>

    <select id="getApplyNum" resultType="java.lang.Integer">
        select count(1) from t_b_apply where orgcode = #{orgCode}
    </select>

    <select id="chuZhenAndFuZhenTongJi" resultType="com.acmed.his.model.dto.ChuZhenFuZhenCountDto">
        SELECT COUNT(t1.id) chuZhen,COUNT(t2.id) fuZhen ,(COUNT(t1.id) +   COUNT(t2.id) ) as total  FROM t_b_apply t1
        LEFT JOIN t_b_apply AS t2 ON t2.orgcode = t1.orgcode
        WHERE t1.orgcode = #{orgCode} AND t1.isfirst = 1 AND t2.isfirst = 0 AND t1.ispaid = 1 AND t2.ispaid = 1
    </select>
</mapper>