<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.ApplyMapper">
    <resultMap id="apply" type="com.acmed.his.model.Apply">
        <id property="id" column="id"></id>
        <result property="clinicNo" column="clinicno"></result>
        <result property="orgCode" column="orgcode"></result>
        <result property="orgName" column="orgname"></result>
        <result property="patientId" column="patientid"></result>
        <result property="patientName" column="patientname"></result>
        <result property="gender" column="gender"></result>
        <result property="pinYin" column="pinYin"></result>
        <result property="fee" column="fee"></result>
        <result property="isPaid" column="ispaid"></result>
        <result property="feeType" column="feetype"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyAt" column="modifyat"></result>
        <result property="createBy" column="createby"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="expire" column="expire"></result>
        <result property="status" column="status"></result>
        <result property="deptName" column="deptname"></result>
        <result property="dept" column="dept"></result>
        <result property="age" column="age"></result>
        <result property="totalFee" column="totalfee"></result>
    </resultMap>

    <update id="statisFee">
      update t_b_apply
      set totalfee = (select SUM(fee) from t_b_prescription where applyid = #{id})
      where id = #{id}
    </update>



    <select id="getByPinyinOrNameOrClinicnoTiaojian" resultType="com.acmed.his.model.dto.ApplyDoctorDto">
        SELECT
        t1.id, -- 挂号单id
        t3.avatar,  -- 头像
        t2.idcard, -- 身份证号
        t2.mobile, -- 手机号
        t1.clinicno, -- 门诊编号
        t2.age,
        t1.orgcode,
        t1.orgname,
        t1.patientid,
        t2.id as patientItemId,
        t1.patientname,
        t1.gender,
        t1.pinyin,
        t1.fee,
        t1.ispaid,
        t1.feetype,
        t1.expire,
        t1.`status`,
        t1.dept,
        t1.deptname,
        t1.totalfee,
        t2.socialcard,
        t2.address,
        t1.appointmenttime,
        t1.isfirst,
        t2.anaphylaxis,
        t2.personalhistory,
        t2.familyhistory
        FROM t_b_apply t1

        LEFT JOIN t_b_patient_item AS  t2  ON t2.id = t1.patientitemid
        LEFT JOIN  t_b_patient AS t3 ON t3.id = t1.patientid

        <trim prefixOverrides="and" prefix="where">
            <if test="@Ognl@isNotEmpty(startTime)">
                <![CDATA[ AND t1.appointmenttime >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.appointmenttime <= #{endTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(dept)">
                and t1.dept = #{dept}
            </if>
            <if test="@Ognl@isNotEmpty(orgCode)">
                and t1.orgcode = #{orgCode}
            </if>
            <if test="@Ognl@isNotEmpty(param)">
                and (t1.patientname like CONCAT('%',#{param},'%') or t1.pinyin like CONCAT('%',#{param},'%') OR t1.clinicno like CONCAT('%',#{param},'%'))
            </if>
            <if test="@Ognl@isNotEmpty(status)">
                and t1.status = #{status}
            </if>
            <if test="@Ognl@isNotEmpty(isPaid)">
                and t1.ispaid = #{isPaid}
            </if>
        </trim>
        ORDER BY t1.clinicno ASC
    </select>

    <select id="getApplyNum" resultType="java.lang.Integer">
        select count(1) from t_b_apply where orgcode = #{orgCode}
    </select>

    <select id="getDoctorApplyNum" resultType="java.lang.Integer">
        select count(1) from t_b_apply t1
        <where>
            <if test="@Ognl@isNotEmpty(userId)">
                and t1.doctorid = #{userId}
            </if>
            <if test="@Ognl@isNotEmpty(startTime)">
                <![CDATA[ AND t1.appointmenttime >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.appointmenttime <= #{endTime} ]]>
            </if>
        </where>
    </select>

    <select id="chuZhenAndFuZhenTongJi" resultType="com.acmed.his.model.dto.ChuZhenFuZhenCountDto">
        SELECT COUNT(t1.id) chuZhen,COUNT(t2.id) fuZhen ,(COUNT(t1.id) +   COUNT(t2.id) ) as total  FROM t_b_apply t1
        LEFT JOIN t_b_apply AS t2 ON t2.orgcode = t1.orgcode
        WHERE t1.orgcode = #{orgCode} AND t1.isfirst = 1 AND t2.isfirst = 0 AND t1.ispaid = 1 AND t2.ispaid = 1
    </select>

    <select id="selectApplys" resultType="com.acmed.his.model.dto.ApplyDto">
        SELECT t1.*,t2.avatar FROM t_b_apply t1
        LEFT JOIN t_p_s_user t2 ON t1.doctorid = t2.id
        <where>
            <if test="@Ognl@isNotEmpty(patientId)">
                and t1.patientid = #{patientId}
            </if>
            <if test="@Ognl@isNotEmpty(createBy)">
                and t1.createby = #{createBy}
            </if>
        </where>
    </select>

    <update id="updatePatientNameByPatientItemId">
        UPDATE t_b_apply SET patientname = #{patientName} WHERE patientitemid = #{patientItemId}
    </update>
</mapper>