<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DicItemMapper">
    <select id="getDicItemsByDicTypeCode" resultType="com.acmed.his.model.DicItem">
        SELECT * FROM t_p_s_dicitem
        <trim prefixOverrides="AND" prefix="where">
            <if test="@Ognl@isNotEmpty(dicTypeCode)">
                AND dictypecode = #{dicTypeCode}
            </if>
            <if test="@Ognl@isNotEmpty(orgCode)">
                AND (orgcode is NULL  or orgCode = #{orgCode})
            </if>
            <if test="@Ognl@isEmpty(orgCode)">
                AND orgcode is NULL
            </if>
        </trim>
        ORDER BY id ASC
    </select>
</mapper>