<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DrugRetailMapper">
    <select id="getRetailList" resultType="com.acmed.his.model.dto.DrugRetailDto">
        select retail.id, item.patientname, item.gender, retail.age, retail.paystatus,retail.fee,retail.removed ,retail.createat
        from t_b_drug_retail retail
        LEFT JOIN t_b_patient_item  item ON retail.patientitemid = item.id
        WHERE retail.orgcode = #{orgCode}
        <if test="@Ognl@isNotEmpty(mo.name) ">
            and item.patientname like concat('%', #{mo.name} , '%')
        </if>
        <if test="@Ognl@isNotEmpty(mo.payStatus) ">
            and retail.paystatus = #{mo.payStatus}
        </if>
        <if test="@Ognl@isNotEmpty(mo.startTime) ">
            <![CDATA[
              and retail.createat >= #{mo.startTime}
            ]]>
        </if>
        <if test="@Ognl@isNotEmpty(mo.endTime) ">
            <![CDATA[
              and retail.createat <= #{mo.endTime}
            ]]>
        </if>
        ORDER BY retail.removed ASC , retail.paystatus ASC, retail.createat DESC
    </select>
</mapper>
