<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DrugMapper">

    <select id="getDrugList"  resultType="com.acmed.his.model.Drug">
        select t1.*
        from t_b_drug t1
        LEFT JOIN t_b_manufacturer t2 on t1.manufacturer = t2.id
        where t1.orgCode = #{orgCode} AND t1.removed = '0'
        <if test="@Ognl@isNotEmpty(name)">
            and (t1.name like concat('%',#{name},'%') or t1.pinyin like concat('%',#{name},'%') or
            t1.goodsname like concat('%',#{name},'%') or t1.goodspinyin like concat('%',#{name},'%') )
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and t1.category = #{category}
        </if>
        <if test="@Ognl@isNotEmpty(isValid)">
            and t1.isValid = #{isValid}
        </if>
    </select>

    <select id="getDrugTotal"  resultType="java.lang.Integer">
        select count(1) from t_b_drug t1 where orgCode = #{orgCode} and removed = '0'
        <if test="@Ognl@isNotEmpty(name)">
            and (t1.name like concat('%',#{name},'%') or t1.pinyin like concat('%',#{name},'%') or
            t1.goodsname like concat('%',#{name},'%') or t1.goodspinyin like concat('%',#{name},'%') )
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and t1.category = #{category}
        </if>
        <if test="@Ognl@isNotEmpty(isValid)">
            and t1.isValid = #{isValid}
        </if>

    </select>


    <select id="getStockList" resultType="com.acmed.his.model.dto.DrugStockDto">
        select t1.id, t1.drugcode, t1.name, t1.goodsname, t1.spec,
        t1.unit,t1.minunit,t1.doseunit,
        t2.name as manufacturerName,
        t1.num, t1.bid, t1.retailprice as retailPrice,
        t1.minretailprice as minRetailPrice , t1.minpriceunittype as minPriceUnitType
        FROM t_b_drug t1
        LEFT JOIN t_b_manufacturer t2 on t1.manufacturer = t2.id
        where t1.orgcode = #{orgCode}
        and t1.removed = '0' and t1.num is not null and t1.num != 0
        <if test="@Ognl@isNotEmpty(name) ">
            and (
                t1.name like concat('%', #{name} , '%') OR
                t1.pinYin like concat('%', #{name} , '%') OR
                t1.goodsName like concat('%', #{name} , '%') OR
                t1.goodsPinYin like concat('%', #{name} , '%')
            )
        </if>
    </select>


    <select id = "getStockTotal" resultType="java.lang.Integer">
        select count(1)
        FROM t_b_drug t1
        where t1.orgcode = #{orgCode}
        and t1.removed = '0' and t1.num is not null and t1.num != 0
        <if test="@Ognl@isNotEmpty(name) ">
            and (
                t1.name like concat('%', #{name} , '%') OR
                t1.pinYin like concat('%', #{name} , '%') OR
                t1.goodsName like concat('%', #{name} , '%') OR
                t1.goodsPinYin like concat('%', #{name} , '%')
            )
        </if>
    </select>

    <select id = "getByDrugCode" resultType="com.acmed.his.model.Drug">
        select *  FROM t_b_drug t1
        where t1.drugcode = #{drugCode}
    </select>


</mapper>