<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DrugDayMapper">

    <insert id="staticSale">
      <![CDATA[
        insert INTO t_r_drug_day(orgcode,drugcode,salenum,storenum,bid,retailprice,bidfee,retailfee,date)
        select t2.orgcode,t1.drugcode,
        sum(t1.num) as salenum,t3.num as storenum,
        FORMAT(sum(t1.num * t1.bid)/sum(t1.num),2) as bid,format(sum(t1.num * t1.retailprice)/sum(t1.num),2) retailprice,
        SUM(t1.num* t1.bid) as bidfee,SUM(t1.fee) as retailfee,
        DATE_FORMAT(t2.createat,'%Y-%m-%d') as date
        from t_b_prescription_item t1
        LEFT JOIN t_b_prescription t2 on t1.prescriptionid = t2.id
        LEFT JOIN t_b_drug t3 on t1.drugcode = t3.drugcode
        where t2.orgcode = #{orgCode}   AND t2.createat BETWEEN #{startTime} AND #{endTime}
        and t1.paystatus = 1
        GROUP BY t1.drugcode
      ]]>
    </insert>


    <select id="getDrugDayList" resultType="com.acmed.his.model.dto.DrugDayDto">

        select * from (
            select t1.drugcode , t2.name as drugname , t2.unit, t2.category ,
            t2.bid, t2.retailprice,t2.num as storenum,
            sum(t1.salenum) as salenum,sum(t1.retailfee - t1.bidfee) as profitfee
            from t_r_drug_day t1
            LEFT JOIN t_b_drug t2 on t1.drugcode = t2.drugcode
            WHERE t1.orgcode = #{orgCode}
            <if test="@Ognl@isNotEmpty(startTime)">
                <![CDATA[ AND t1.date >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.date <= #{endTime} ]]>
            </if>
            GROUP BY t1.drugcode
        )t order by salenum DESC

    </select>

    <select id="getDrugDayTotal" resultType="java.lang.Integer">
        select count(1) from (
            select 1
            from t_r_drug_day t1
            LEFT JOIN t_b_drug t2 on t1.drugcode = t2.drugcode
            WHERE t1.orgcode = #{orgCode}
            <if test="@Ognl@isNotEmpty(startTime)">
                <![CDATA[ AND t1.date >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.date <= #{endTime} ]]>
            </if>
            GROUP BY t1.drugcode
        )t
    </select>
</mapper>
