<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DrugDictMapper">

    <select id="getOrgDrugDictList"  resultType="com.acmed.his.model.DrugDict">
        select * from t_b_drugdict dict where dict.removed = '0' AND dict.id
        NOT IN (select dictid from t_b_drug where removed= '0' and orgCode = #{orgCode} AND dictid IS NOT NULL )
        <if test="@Ognl@isNotEmpty(name)">
            and (name like concat('%',#{name},'%') or pinyin like concat('%',#{name},'%')
            or goodsname like concat('%',#{name},'%') or goodspinyin like concat('%',#{name},'%')
            or barcode like concat('%',#{name},'%'))
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and category = #{category}
        </if>
    </select>

    <select id="getDrugDictTotal"  resultType="java.lang.Integer">
        select count(1) from t_b_drugdict dict where dict.removed = '0' AND
        NOT EXISTS (select * from t_b_drug where dictid = dict.id and removed= '0' and orgCode = #{orgCode} )
        <if test="@Ognl@isNotEmpty(name)">
            and (name like concat('%',#{name},'%') or pinyin like concat('%',#{name},'%')
            or goodsname like concat('%',#{name},'%') or goodspinyin like concat('%',#{name},'%')
            or barcode like concat('%',#{name},'%'))
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and category = #{category}
        </if>
    </select>

    <select id="getDrugDictList"  resultType="com.acmed.his.model.DrugDict">
        select * from t_b_drugdict  where removed = '0'
        <if test="@Ognl@isNotEmpty(name)">
            and (name like concat('%',#{name},'%') or pinyin like concat('%',#{name},'%')
            or goodsname like concat('%',#{name},'%') or goodspinyin like concat('%',#{name},'%')
            or barcode like concat('%',#{name},'%'))
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and category = #{category}
        </if>
        <if test="@Ognl@isNotEmpty(isHandle)">
            and ishandle = #{isHandle}
        </if>
    </select>

</mapper>