<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.ManufacturerMapper">

    <select id="selectByManufacture" resultType="com.acmed.his.model.Manufacturer">
        select * from t_b_manufacturer
        <trim prefixOverrides="and" prefix="where">
            <if test="@Ognl@isNotEmpty(name)">
                AND (name like concat('%',#{name},'%') or pinyin like concat('%',#{name},'%') )
            </if>
            <if test="@Ognl@isNotEmpty(orgCode)">
                AND (orgcode is NULL  or orgCode = #{orgCode})
            </if>
            <if test="@Ognl@isEmpty(orgCode)">
                AND orgcode is NULL
            </if>
        </trim>
    </select>
</mapper>