<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PayStatementsMapper">
    <select id="getFeeSurvey" resultType="java.util.Map">
        select sum(fee) as fee , feetype from t_b_pay_statements where orgcode = #{orgCode}
        and source in(2,3,4)
        <if test="@Ognl@isNotEmpty(startDate) ">
            <![CDATA[
              and createat >= #{startDate}
            ]]>
        </if>
        <if test="@Ognl@isNotEmpty(endDate) ">
            <![CDATA[
              and createat <= #{endDate}
            ]]>
        </if>
        GROUP BY feetype
    </select>

</mapper>