<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PrescriptionMapper">

    <resultMap id="permissionDto" type="com.acmed.his.model.Prescription">
        <id property="id" column="id"></id>
        <result property="applyId" column="applyid"></result>
        <result property="prescriptionNo" column="prescriptionno"></result>
        <result property="patientId" column="patientid"></result>
        <result property="orgCode" column="orgcode"></result>
        <result property="dept" column="dept"></result>
        <result property="category" column="category"></result>
        <result property="fee" column="fee"></result>
        <result property="isPaid" column="ispaid"></result>
        <result property="feeType" column="feetype"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyAt" column="modifyat"></result>
        <result property="createBy" column="createby"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="deptName" column="deptname"></result>
    </resultMap>

    <select id="getByNo" parameterType="java.lang.String" resultMap="permissionDto">
        select * from t_b_prescription where prescriptionNo = #{prescriptionNo}
    </select>

    <select id="getPreByApply" resultType="com.acmed.his.model.Prescription">
        select * from t_b_prescription where applyid = #{applyId}
    </select>


    <select id = "getDispensingList" resultType="com.acmed.his.model.dto.DispensingDto">
        SELECT apply.id as applyid,apply.clinicno,apply.patientname,apply.gender,apply.age,
        patient.mobile,user.username as doctorname,
        pre.fee,pre.isdispensing,pre.ispaid,pre.createat as diagnosedate,
        case isdispensing when 2 THEN 0 ELSE 1 END AS contanisMedicine
        from t_b_apply apply
        JOIN t_b_prescription pre on apply.id = pre.applyid
        JOIN t_b_patient_item patient on apply.patientitemid = patient.id
        JOIN t_p_s_user user on pre.createby = user.id

        <trim prefixOverrides="and" prefix="where">
            and pre.fee != 0
            <if test="@Ognl@isNotEmpty(orgCode)">
                and apply.orgcode = #{orgCode}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                and (apply.patientname like CONCAT('%',#{name},'%') or patient.mobile like CONCAT('%',#{name},'%')
                 or apply.clinicno like CONCAT('%',#{name},'%'))
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 1">
                and pre.ispaid = '0'
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 2">
                and (pre.ispaid = '1' and pre.isdispensing = '0')
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 3">
                and (pre.ispaid = '2' or pre.ispaid = '3')
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 4">
                and (pre.isdispensing = '1' or (pre.ispaid = '1' and pre.isdispensing = '2'))
            </if>
            <if test="@Ognl@isNotEmpty(diagnoseStartDate)">
                <![CDATA[
                 and pre.createat >= #{diagnoseStartDate}
                ]]>
            </if>
            <if test="@Ognl@isNotEmpty(diagnoseEndDate)">
                <![CDATA[
                  and pre.createat <= #{diagnoseEndDate}
                ]]>
            </if>
        </trim>
        order by DATE_FORMAT(pre.createat,'%Y-%m-%d') desc ,ispaid ASC,FIELD(isdispensing,0,2,1),apply.clinicno DESC
    </select>

    <select id = "getDispensingTotal" resultType="java.lang.Integer">
        SELECT count(1)
        from t_b_apply apply
        JOIN t_b_prescription pre on apply.id = pre.applyid
        JOIN t_b_patient patient on apply.patientid = patient.id
        <trim prefixOverrides="and" prefix="where">
            <if test="@Ognl@isNotEmpty(orgCode)">
                and apply.orgcode = #{orgCode}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                and (apply.patientname like CONCAT('%',#{name},'%') or patient.mobile like CONCAT('%',#{name},'%')
                or apply.clinicno like CONCAT('%',#{name},'%'))
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 1">
                and pre.ispaid = '0'
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 2">
                and (pre.ispaid = '1' and pre.isdispensing = '0')
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 3">
                and (pre.ispaid = '2' or pre.ispaid = '3')
            </if>
            <if test="@Ognl@isNotEmpty(status) and status == 4">
                and (pre.isdispensing = '1' or (pre.ispaid = '1' and pre.isdispensing = '2'))
            </if>
            <if test="@Ognl@isNotEmpty(diagnoseStartDate)">
                <![CDATA[
                 and pre.createat >= #{diagnoseStartDate}
                ]]>
            </if>
            <if test="@Ognl@isNotEmpty(diagnoseEndDate)">
                <![CDATA[
                  and pre.createat <= #{diagnoseEndDate}
                ]]>
            </if>
        </trim>
    </select>

    <select id="getFee" resultType="java.lang.Double">
        select sum(fee) as fee from t_b_prescription where orgcode = #{orgCode}
        <if test="@Ognl@isNotEmpty(startDate) ">
            <![CDATA[
              and createat >= #{startDate}
            ]]>
        </if>
        <if test="@Ognl@isNotEmpty(endDate) ">
            <![CDATA[
              and createat <= #{endDate}
            ]]>
        </if>
    </select>
</mapper>