<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PrescriptionTplMapper">
    <resultMap id="prescriptionTpl" type="com.acmed.his.model.PrescriptionTpl">
        <id property="id" column="id"></id>
        <result property="orgCode" column="orgcode"></result>
        <result property="tplName" column="tplname"></result>
        <result property="pinYin" column="pinyin"></result>
        <result property="category" column="category"></result>
        <result property="diagnosis" column="diagnosis"></result>
        <result property="advice" column="advice"></result>
        <result property="description" column="description"></result>
        <result property="isValid" column="isvalid"></result>
        <result property="createBy" column="createby"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="modifyAt" column="modifyat"></result>
    </resultMap>

    <select id="getPrescripTplList"  resultType="com.acmed.his.model.dto.PrescriptionTplDto">
        select t1.id ,t1.tplname,t1.category,t1.ispublic,t1.description,t1.isvalid,
         t2.nickname as createUserName,if(t1.createby=#{userInfo.id} ,1,0) as isSelf
        from t_b_prescription_tpl t1
        LEFT JOIN t_p_s_user t2 on t1.createby = t2.id
        where t1.orgcode = #{userInfo.orgCode}

        <if test="@Ognl@isNotEmpty(tplName)">
            and (t1.tplname LIKE concat('%', #{tplName} , '%') or pinyin LIKE concat('%', #{tplName} , '%'))
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and t1.category = #{category}
        </if>
        <if test="@Ognl@isNotEmpty(isPublic) and isPublic == 0">
            and t1.createby = #{userInfo.id} and t1.isPublic = #{isPublic}
        </if>
        <if test="@Ognl@isNotEmpty(isPublic) and isPublic == 1">
            and t1.ispublic = #{isPublic}
        </if>
        <if test="@Ognl@isEmpty(isPublic)">
           and (t1.ispublic = 1 or  t1.createby = #{userInfo.id})
        </if>
    </select>

    <select id="getPrescripTplTotal"  resultType="java.lang.Integer">
        select count(1) from t_b_prescription_tpl t1 where orgcode = #{userInfo.orgCode}

        <if test="@Ognl@isNotEmpty(tplName)">
            and (t1.tplname LIKE concat('%', #{tplName} , '%') or pinyin LIKE concat('%', #{tplName} , '%'))
        </if>
        <if test="@Ognl@isNotEmpty(category)">
            and t1.category = #{category}
        </if>
        <if test="@Ognl@isNotEmpty(isPublic) and isPublic == 0">
            and t1.createby = #{userInfo.id} and t1.isPublic = #{isPublic}
        </if>
        <if test="@Ognl@isNotEmpty(isPublic) and isPublic == 1">
            and t1.ispublic = #{isPublic}
        </if>
        <if test="@Ognl@isEmpty(isPublic)">
            and (t1.ispublic = 1 or  t1.createby = #{userInfo.id})
        </if>
    </select>

    <select id="selectRecentTpl" resultType="com.acmed.his.model.PrescriptionTpl" resultMap="prescriptionTpl">
        select * from t_b_prescription_tpl
        where orgcode = #{orgCode} and tplname = #{tplName} and createby = #{createBy}
        order by createat DESC
        limit 1
    </select>
</mapper>