<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PurchaseDayMapper">

    <insert id="statisPurchase">
        <![CDATA[
        INSERT INTO t_r_purchase_day(orgcode , drugcode,num,bid,retailprice,bidfee,retailfee,date)
        select t1.orgcode,t3.drugcode,sum(t2.num) as num,
        format(sum(t2.bidfee)/sum(t2.num),2) as bid,
        format(sum(t2.retailfee)/sum(t2.num),2) as retailprice,
        sum(t2.bidfee),sum(t2.retailfee),date
        from t_b_purchase t1 JOIN t_b_purchase_item t2 on t1.id = t2.purchaseid
        JOIN t_b_drug t3 ON t2.drugid = t3.id
        where t1.status = '1' AND t1.orgcode = #{orgCode}  AND t1.date BETWEEN #{startTime} AND #{endTime}
        GROUP BY drugcode;
      ]]>
    </insert>

    <select id="getPurchaseDayList" resultType="com.acmed.his.model.dto.PurchaseDayDto">
        select * from (
            select t1.drugcode,t3.goodsname as drugname, sum(t1.num) as num,t3.num as storeNum,
            FORMAT(sum(t1.bidfee)/sum(t1.num),2) as bid,
            FORMAT(sum(t1.retailfee)/sum(t1.num),2) as retailprice,
            sum(t1.bidfee) as bidfee ,sum(t1.retailfee) as retailfee
            from t_r_purchase_day t1
            LEFT JOIN t_b_drug t3 on t1.drugcode = t3.drugcode
            where t1.orgcode = #{orgCode} and t3.removed = '0'
            <if test="@Ognl@isNotEmpty(startTime)">
                <![CDATA[ AND t1.date >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.date <= #{endTime} ]]>
            </if>
            GROUP BY t1.drugcode
        )t order by num DESC
    </select>

    <select id="getPurchaseDayTotal" resultType="java.lang.Integer">
        select count(1) from (
        select 1
        from t_r_purchase_day t1
        where t1.orgcode = #{orgCode}
        <if test="@Ognl@isNotEmpty(startTime)">
            <![CDATA[ AND t1.date >= #{startTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(endTime)">
                <![CDATA[  AND t1.date <= #{endTime}]]>
            </if>
        GROUP BY t1.drugcode
        )t
    </select>

</mapper>