<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PurchaseItemMapper">

    <delete id="delItemNotInIds">
        DELETE FROM t_b_purchase_item where purchaseid = #{purchaseId}
        AND id not in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getItemList" resultType="com.acmed.his.model.dto.PurchaseDayDetailDto">
        select t1.num as num,t3.specname as drugname , t2.createat as date
        from t_b_purchase_item t1 LEFT JOIN t_b_purchase t2 on t1.purchaseid = t2.id
        LEFT JOIN t_b_drugdict t3 on t1.drugcode = t3.code
        where t2.orgcode = #{orgCode}
        <if test="@Ognl@isNotEmpty(startTime)">
            <![CDATA[ AND t2.createat >= #{startTime} ]]>
        </if>
        <if test="@Ognl@isNotEmpty(endTime)">
            <![CDATA[  AND t2.createat <= #{endTime} ]]>
        </if>
    </select>


    <select id="getItemTotal" resultType="java.lang.Integer">
        select count(1)
        from t_b_purchase_item t1 LEFT JOIN t_b_purchase t2 on t1.purchaseid = t2.id
        where t2.orgcode = #{orgCode}
        <if test="@Ognl@isNotEmpty(startTime)">
            <![CDATA[ AND t2.createat >= #{startTime} ]]>
        </if>
        <if test="@Ognl@isNotEmpty(endTime)">
            <![CDATA[  AND t2.createat <= #{endTime} ]]>
        </if>
    </select>

    <select id = "getBatchList" resultType="com.acmed.his.model.dto.PurchaseStockDto">
        select t1.batchnumber,t3.`name`,t3.goodsname,t3.category,t4.`name` as manufacturerName,
        t3.spec,t1.num,t1.bid,t1.retailprice,t1.retailprice from t_b_purchase_item t1
        join t_b_purchase t2 on t1.purchaseid = t2.id
        join t_b_drug t3 on t1.drugid = t3.id
        left JOIN t_b_manufacturer t4 on t3.manufacturer = t4.id
        where t2.orgcode = #{orgCode} and t2.status = '1' and t2.removed = '0'
        <if test="@Ognl@isNotEmpty(name) ">
            and (
            t3.name like concat('%', #{name} , '%') OR
            t3.pinYin like concat('%', #{name} , '%') OR
            t3.goodsName like concat('%', #{name} , '%') OR
            t3.goodsPinYin like concat('%', #{name} , '%')
            )
        </if>
    </select>
    
    
    <select id="getBatchTotal" resultType="java.lang.Integer">
        select count(1) from t_b_purchase_item t1
        join t_b_purchase t2 on t1.purchaseid = t2.id
        join t_b_drug t3 on t1.drugid = t3.id
        where t2.orgcode = #{orgCode} and t2.status = '1'  and t2.removed = '0'
        <if test="@Ognl@isNotEmpty(name) ">
            and (
            t3.name like concat('%', #{name} , '%') OR
            t3.pinYin like concat('%', #{name} , '%') OR
            t3.goodsName like concat('%', #{name} , '%') OR
            t3.goodsPinYin like concat('%', #{name} , '%')
            )
        </if>
    </select>
</mapper>