<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.UserMapper">
    <resultMap id="userMap" type="com.acmed.his.model.User">
        <id property="id" column="id"></id>
        <result property="mobile" column="mobile"></result>
        <result property="userName" column="username"></result>
        <result property="passWd" column="passwd"></result>
        <result property="gender" column="gender"></result>
        <result property="loginname" column="loginname"></result>
        <result property="orgCode" column="orgcode"></result>
        <result property="orgName" column="orgname"></result>
        <result property="deptName" column="deptname"></result>
        <result property="dept" column="dept"></result>
        <result property="category" column="category"></result>
        <result property="status" column="status"></result>
        <result property="createBy" column="createby"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyAt" column="modifyat"></result>
        <result property="lastLogin" column="lastlogin"></result>
        <result property="removed" column="removed"></result>
        <result property="openid" column="openid"></result>
    </resultMap>

    <select id="getUserByLoginNameOrPhone" parameterType="java.lang.String" resultMap="userMap">
        select * from t_p_s_user where username = #{loginName} OR mobile = #{loginName}
    </select>

    <select id="getUserByOpenid" parameterType="java.lang.String" resultMap="userMap">
        select * from t_p_s_user where openid = #{openid}
    </select>

    <select id="getUserList" resultType="com.acmed.his.model.dto.UserDto">
        select t1.*,t2.dicitemname as categoryName,t3.dicitemname as diagnosLevelName,
         t4.dicitemname as dutyName,
        (select GROUP_CONCAT(tr.rolename) from t_p_s_user_vs_role tur
            JOIN t_p_s_role tr on tur.rid = tr.id where tur.uid = t1.id) as roleName
        from t_p_s_user t1
        LEFT JOIN t_p_s_dicitem t2 ON t1.category = t2.dicitemcode and t2.dictypecode = #{userCategory}
        LEFT JOIN t_p_s_dicitem t3 ON t1.category = t2.dicitemcode and t2.dictypecode = #{diagnosisLevel}
        LEFT JOIN t_p_s_dicitem t4 ON t1.category = t2.dicitemcode and t2.dictypecode = #{duty}
        where t1.removed = '0'
        <if test="@Ognl@isNotEmpty(deptId)">
            and t1.dept = #{deptId}
        </if>
        <if test="@Ognl@isNotEmpty(mobile)">
            and t1.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="@Ognl@isNotEmpty(userName)">
            and t1.username like concat('%',#{userName},'%')
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            and t1.status = #{status}
        </if>
        <if test="@Ognl@isNotEmpty(orgCode)">
            and t1.orgcode = #{orgCode}
        </if>
        <if test="@Ognl@isEmpty(orgCode)">
            and t1.orgcode is NULL
        </if>
    </select>

    <select id="getUserTotal" resultType="java.lang.Integer">
        select count(1) from t_p_s_user t1
        where t1.removed = '0'
        <if test="@Ognl@isNotEmpty(deptId)">
            and t1.dept = #{deptId}
        </if>
        <if test="@Ognl@isNotEmpty(mobile)">
            and t1.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="@Ognl@isNotEmpty(userName)">
            and t1.username like concat('%',#{userName},'%')
        </if>
        <if test="@Ognl@isNotEmpty(status)">
            and t1.status = #{status}
        </if>
        <if test="@Ognl@isNotEmpty(orgCode)">
            and t1.orgcode = #{orgCode}
        </if>
        <if test="@Ognl@isEmpty(orgCode)">
            and t1.orgcode is NULL
        </if>
    </select>
    <update id="updateUserDept">
        UPDATE t_p_s_user SET deptname = #{deptName}  WHERE dept = #{deptId}
    </update>

    <update id="updateUserOrg">
        UPDATE t_p_s_org SET orgname = #{orgName}  WHERE orgcode = #{orgCode}
    </update>
</mapper>