<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.WorkloadDayMapper">

    <insert id="statisWorkload">

        insert into t_r_workload_day(orgcode,userid,
        diagnosenum,cancelnum,breachnum,applynum,prescriptionnum,
        incomefee,
        applyfee,prescriptionfee,drugfee,inspectfee,chargefee,
        applyrefundfee,prescriptionrefundfee,drugrefundfee,inspectrefundfee,chargerefundfee,
        date)

        select t.orgcode,t.doctorid as userid,
        sum(t.diagnosenum) as diagnosenum,
        sum(t.cancelnum) as  cancelnum,
        sum(t.breachnum) as breachnum,
        sum(t.diagnosenum) + sum(t.cancelnum) + sum(t.breachnum) as applynum,
        sum(t.prescriptionnum) as prescriptionnum,
        sum(t.drugfee) + sum(t.inspectfee) + sum(t.chargefee) + sum(t.applyfee) -
	          sum(t.applyrefundfee) - sum(t.drugrefundfee) - sum(t.inspectrefundfee) - sum(t.chargerefundfee) as incomefee,
        sum(t.applyfee) as applyfee,
        sum(t.drugfee) + sum(t.inspectfee) + sum(t.chargefee) as prescriptionfee,
        sum(t.drugfee) as drugfee,
        sum(t.inspectfee) as inspectfee,
        sum(t.chargefee) as chargefee,
        sum(t.applyrefundfee) as applyrefundfee,
        sum(t.drugrefundfee) + sum(t.inspectrefundfee) + sum(t.chargerefundfee) as prescriptionrefundfee ,
        sum(t.drugrefundfee) as drugrefundfee,
        sum(t.inspectrefundfee) as inspectrefundfee,
        sum(t.chargerefundfee) as chargerefundfee,
        #{startTime} from
        (
            select t1.orgcode,t1.doctorid,
            sum(case t1.status when 1 THEN 1 else 0 END) as  diagnosenum,
            sum(case t1.status when 2 THEN 1 else 0 END) as  cancelnum,
            sum(case t1.status when 0 THEN 1 else 0 END) as  breachnum,
            0 as prescriptionnum,
            0 as applyfee,0 as drugfee ,0 as inspectfee ,0 as chargefee,
            0 as applyrefundfee,0 as drugrefundfee ,0 as inspectrefundfee ,0 as chargerefundfee
            from t_b_apply t1
            where t1.orgcode = #{orgCode} and t1.createat  BETWEEN #{startTime} and #{endTime}
            GROUP BY t1.doctorid

            UNION ALL
            select t1.orgcode,t1.doctorid,0 as diagnosenum ,0 as cancelnum,0 as breachnum,
            count(DISTINCT t2.prescriptionid) as prescriptionnum,
            sum(case t2.source when 1 THEN t2.fee else 0 END) as applyfee,
            sum(case t2.source when 2 THEN t2.fee else 0 END) as drugfee,
            sum(case t2.source when 3 THEN t2.fee else 0 END) as inspectfee,
            sum(case t2.source when 4 THEN t2.fee else 0 END) as chargefee,
            0 as applyrefundfee ,0 as drugrefundfee ,0 as inspectrefundfee ,0 as chargerefundfee
            from t_b_apply t1
            RIGHT JOIN t_b_pay_statements t2 on t1.id = t2.applyid
            where t1.orgcode = #{orgCode}  and t1.createat BETWEEN #{startTime} and #{endTime}
            GROUP BY t1.doctorid

            UNION ALL
            select t1.orgcode,t1.doctorid,0 as diagnosenum,0 as cancelnum,0 as breachnum,0 as prescriptionnum ,
	        0 as applyfee, 0 as drugfee ,0 as inspectfee ,0 as chargefee,
            sum(case t3.source when 1 THEN t3.fee else 0 END) as applyrefundfee,
            sum(case t3.source when 2 THEN t3.fee else 0 END) as drugrefundfee,
            sum(case t3.source when 3 THEN t3.fee else 0 END) as inspectrefundfee,
            sum(case t3.source when 4 THEN t3.fee else 0 END) as chargerefundfee
            from t_b_apply t1
            RIGHT JOIN t_b_pay_refuse t3 on t1.id = t3.applyid
            where t1.orgcode = #{orgCode} and t1.createat  BETWEEN #{startTime} and #{endTime}
            GROUP BY t1.doctorid
        )t GROUP BY t.doctorid

    </insert>

    <select id="getWorkloadList" resultType="com.acmed.his.model.dto.WorkloadDayDto">
        select * from(
            select t2.nickname as username ,
            sum(t1.diagnosenum) as diagnosenum ,
            sum(t1.cancelnum) as cancelnum,
            sum(t1.breachnum) as breachnum,
            sum(t1.applynum) as applynum,
            sum(t1.prescriptionnum) as prescriptionnum,
            sum(t1.incomefee) as incomefee,
            sum(t1.applyfee) as applyfee,
            sum(t1.prescriptionfee) as prescriptionfee,
            sum(t1.drugfee) as drugfee,
            sum(t1.inspectfee) as inspectfee,
            sum(t1.chargefee) as chargefee,
            sum(t1.applyrefundfee) as applyrefundfee,
            sum(t1.prescriptionrefundfee) as prescriptionrefundfee,
            sum(t1.drugrefundfee) as drugrefundfee,
            sum(t1.inspectrefundfee) as inspectrefundfee,
            sum(t1.chargerefundfee) as chargerefundfee
            from t_r_workload_day t1
            left join t_p_s_user t2 on t1.userid = t2.id
            <trim prefix="where" prefixOverrides="AND">
                <if test="@Ognl@isNotEmpty(userName)">
                  AND t2.nickname like concat('%',#{userName},'%')
                </if>
                <if test="@Ognl@isNotEmpty(startTime)">
                    <![CDATA[ AND t1.date >= #{startTime} ]]>
                </if>
                <if test="@Ognl@isNotEmpty(endTime)">
                    <![CDATA[  AND t1.date <= #{endTime} ]]>
                </if>
            </trim>
            group by t1.userid
        )tt
        order by
        <if test="type == 1">
            tt.applynum desc
        </if>
        <if test="type == 2">
            tt.incomefee desc
        </if>

    </select>

    <select id="getWorkloadDayAndTotal" resultType="com.acmed.his.model.dto.WorkloadDayAndTotalDto">
        SELECT * FROM
        (SELECT SUM(t1.applynum) applynumday FROM t_r_workload_day t1 WHERE t1.orgcode = #{orgCode} AND DATE(t1.date) = DATE(#{date})) as t3, -- 某天的
        (SELECT SUM(t1.incomefee) incomefeetotal,SUM(t1.applyfee) applyfeetotal,SUM(t1.applyrefundfee) applyrefundfeetotal FROM t_r_workload_day t1 WHERE t1.orgcode = #{orgCode} ) as t4 -- 总的
    </select>

    <select id="getWorkloadListGroupByDate" resultType="com.acmed.his.model.WorkloadDay">
        SELECT
        SUM(diagnosenum) diagnosenum,
        SUM(cancelnum) cancelnum,
        SUM(breachnum) breachnum,
        SUM(applynum) applynum,
        SUM(incomefee) incomefee,
        SUM(applynum) applynum,
        SUM(applyfee) applyfee,
        SUM(prescriptionfee) prescriptionfee,
        SUM(drugfee) drugfee,
        SUM(inspectfee) inspectfee,
        SUM(chargefee) chargefee,
        SUM(applyrefundfee) applyrefundfee,
        SUM(prescriptionrefundfee) prescriptionrefundfee,
        SUM(drugrefundfee) drugrefundfee,
        SUM(inspectrefundfee) inspectrefundfee,
        SUM(chargerefundfee) chargerefundfee,
        DATE_FORMAT(date,'%Y-%m-%d') date,
        orgcode
        FROM t_r_workload_day
        WHERE orgcode = #{orgCode}
        <![CDATA[ AND DATE(date) >= DATE(#{startTime}) ]]>

        <![CDATA[  AND DATE(date) <= DATE(#{endTime}) ]]>
        GROUP BY DATE(date)
        ORDER BY date
    </select>

    <select id="doctorApplyNum" resultType="com.acmed.his.model.dto.DoctorApplyNumDto">
        SELECT SUM(t1.applynum) applynum,
        t2.nickname,
        t2.avatar, -- 头像
        t2.duty, -- 医生职称
        t2.deptname, -- 科室名称
        t2.diagnoslevel -- 门诊级别
        FROM t_r_workload_day t1
        LEFT JOIN t_p_s_user as t2 ON t2.id = t1.userid
        WHERE t1.orgcode = #{orgCode}
        GROUP BY t1.userid
    </select>

</mapper>
