<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.ZhangYaoMapper">
    <select id="getUnDismantleList" resultType="com.acmed.his.model.PrescriptionItem">
        select item.*
        from t_b_prescription_item item
        LEFT JOIN t_b_apply apply on item.applyid = apply.id
        where item.zyorderstatus = 0 AND item.paystatus =1 and apply.orgcode = #{orgCode} AND apply.status = 1
    </select>

    <select id="getUnSubmitOrder" resultType="com.acmed.his.model.ZyOrder">
        select * from t_zy_order where paystatus = 0 and orgcode = #{orgCode}
        and zystoreid in
        <foreach collection="storeIdList" separator="," open="(" close=")" item="zyStoreId">
            #{zyStoreId}
        </foreach>
    </select>

    <select id="getUnSubmitOrderItem" resultType="com.acmed.his.model.dto.ZyOrderItemUnsubmitDto">
        select t1.id as itemId, t1.orderid, t1.applyid,
        t1.drugname, t1.num, t1.retailprice, t1.fee, t1.manufacturername,
        t2.orderno, t2.drugfee ,t2.zyStoreId as storeId,
        t3.prescriptionno as prescriptionNo
        from t_zy_order_item t1
        LEFT JOIN t_zy_order t2 on t1.orderid = t2.id
        LEFT JOIN t_b_prescription t3 on t1.applyid = t3.applyid
        where t1.removed = '0' and t2.removed = '0' and t2.orgcode = #{orgCode}
        and t2.paystatus = 0
        <if test="@Ognl@isNotEmpty(name) ">
            and t2.id in (select id from t_zy_order where orderno like concat('%', #{name} , '%')
                          UNION ALL
                          select td.id from t_zy_order_item tm LEFT JOIN t_zy_order td ON tm.orderid = td.id
                            where tm.drugName like concat('%', #{name} , '%') and td.paystatus = 0)
        </if>
        ORDER BY t2.orderno desc
    </select>

    <select id="statisDrugUsed" resultType="java.util.Map">
        select zydrugid,count(1) as num from t_b_prescription_item t1
        LEFT JOIN t_b_prescription t2 on t1.prescriptionid = t2.id
        where zydrugid in
        <foreach collection="drugIdList" item="drugId" open="(" close=")" separator=",">
            #{drugId}
        </foreach>
        and t2.orgcode = #{orgCode} and t1.paystatus = 1
        group by zydrugid
    </select>


    <select id="getUnpaidOrder" resultType="com.acmed.his.model.dto.ZyOrderItemUnpaidDto">
        select t1.submittime,t2.username,sum(t1.totalfee) as totalfee,t1.groupnum,
          t1.provinceid, t1.provincename,t1.cityid,t1.cityname,t1.countyid,t1.countyname,
          t1.address,t1.recipient,t1.zipcode,t1.phone
        from t_zy_order t1 LEFT JOIN t_p_s_user t2 on t1.modifyby = t2.id
        where (t1.paystatus = 1 or t1.paystatus = 3) and t1.orgcode = #{orgCode} and t1.removed = '0'
        <if test="@Ognl@isNotEmpty(mo.startTime) ">
            and t1.submittime >= #{mo.startTime}
        </if>
        <if test="@Ognl@isNotEmpty(mo.endTime) ">
            <![CDATA[
              and t1.submittime <= #{mo.endTime}
            ]]>
        </if>
        <if test="@Ognl@isNotEmpty(mo.name) ">
            and t1.id in (select id from t_zy_order where orderno like concat('%', #{mo.name} , '%')
            UNION ALL
            select td.id from t_zy_order_item tm LEFT JOIN t_zy_order td ON tm.orderid = td.id
            where tm.drugName like concat('%', #{mo.name} , '%') and td.paystatus = 1)
        </if>
        group by groupnum
        order by t1.submittime desc
    </select>

    <select id="getUnpaidDetail" resultType="com.acmed.his.model.dto.ZyOrderItemUnpaidDetailDto">
        select t1.id as itemId, t1.orderid, t1.applyid,
        t1.drugname, t1.num, t1.retailprice, t1.fee, t1.manufacturername,t1.status,
        t2.orderno, t2.drugfee ,t2.zyStoreId as storeId,t2.expressid,t2.expressname,t2.expressfee,t2.fullreducefee,
        t3.prescriptionno as prescriptionNo
        from t_zy_order_item t1
        LEFT JOIN t_zy_order t2 on t1.orderid = t2.id
        LEFT JOIN t_b_prescription t3 on t1.applyid = t3.applyid
        where t1.status != 4 and t2.groupnum = #{groupNum}
        <if test="@Ognl@isNotEmpty(name) ">
            and t2.id in (select id from t_zy_order where orderno like concat('%', #{name} , '%')
            UNION ALL
            select td.id from t_zy_order_item tm LEFT JOIN t_zy_order td ON tm.orderid = td.id
            where tm.drugName like concat('%', #{name} , '%') and td.paystatus = 0)
        </if>
        ORDER BY t2.orderno desc
    </select>


    <select id="getHistoryOrder" resultType="com.acmed.his.model.dto.ZyOrderItemHistoryDto">
        select t1.id as itemId, t1.orderid, t1.applyid,
        t1.drugname, t1.num, t1.retailprice, t1.fee, t1.manufacturername,
        t2.orderno, t2.drugfee , t2.expressfee as expressFee, t2.totalfee as totalFee,t2.actualfee,
        t2.submittime as submitTime,t2.zyStoreId as storeId,t2.paystatus,
        t3.prescriptionno as prescriptionNo
        from t_zy_order_item t1
        LEFT JOIN t_zy_order t2 on t1.orderid = t2.id
        LEFT JOIN t_b_prescription t3 on t1.applyid = t3.applyid
        where t1.removed = '0' and t1.removed = '0' and t2.orgcode = #{orgCode}
        and t2.paystatus in (2,4,5,6,7)
        <if test="@Ognl@isNotEmpty(mo.name) ">
            and t2.id in (select id from t_zy_order where orderno like concat('%', #{mo.name} , '%')
            UNION ALL
            select td.id from t_zy_order_item tm LEFT JOIN t_zy_order td ON tm.orderid = td.id
            where tm.drugName like concat('%', #{mo.name} , '%') and td.paystatus = 0)
        </if>
        <if test="@Ognl@isNotEmpty(mo.startTime) ">
            and t2.submittime >= #{mo.startTime}
        </if>
        <if test="@Ognl@isNotEmpty(mo.endTime) ">
            <![CDATA[
              and t2.submittime <= #{mo.endTime}
            ]]>
        </if>
        ORDER BY t2.orderno desc
    </select>

    <select id="getReceiveOrder" resultType="com.acmed.his.model.dto.ZyOrderItemReceiveDto">
        select t1.id as itemId, t1.orderid,
        t1.drugname, t1.num,t1.receivenum, t1.retailprice, t1.fee, t1.manufacturername,
        t2.orderno, t2.expressno, t2.submittime, t2.recepitstatus,
        t3.prescriptionno as prescriptionNo,
        t4.patientname
        from t_zy_order_item t1
        LEFT JOIN t_zy_order t2 on t1.orderid = t2.id
        LEFT JOIN t_b_prescription t3 on t1.applyid = t3.applyid
        LEFT JOIN t_b_patient_item t4 on t3.patientid = t4.id
        where t1.removed = '0' and t1.removed = '0' and t2.orgcode = #{orgCode}
        and t2.paystatus = 2
        <if test="@Ognl@isNotEmpty(mo.name) ">
            and (t2.orderno like concat('%', #{mo.name} , '%') OR
              t2.expressno like concat('%', #{mo.name} , '%'))
        </if>
        <if test="@Ognl@isNotEmpty(mo.startTime) ">
            and t2.submittime >= #{mo.startTime}
        </if>
        <if test="@Ognl@isNotEmpty(mo.endTime) ">
            <![CDATA[
              and t2.submittime <= #{mo.endTime}
            ]]>
        </if>
        <if test="1 == mo.isRecepit">
            and t2.recepitstatus =1
        </if>
        <if test="0 == mo.isRecepit">
            and t2.recepitstatus !=1
        </if>
        ORDER BY
        <if test="0 == mo.isRecepit">
            field(recepitstatus,0,2,-1),
        </if>
        t2.orderno desc
    </select>

    <select id="getDispenseOrder" resultType="com.acmed.his.model.dto.ZyDispenseOrderDto">
        SELECT * FROM (
            <if test="(@Ognl@isNotEmpty(mo.status) and mo.status == 0) or @Ognl@isEmpty(mo.status)">
                select t2.gender,t2.patientname,t2.age,t2.mobile,t1.applyid,t1.createat as submittime,0 as status from t_b_prescription t1
                JOIN t_b_patient_item t2 on t1.patientid = t2.id
                where t1.iszydispensing = 0 and t1.orgcode = #{orgCode} and t1.id in
                    (select prescriptionid from t_b_prescription_item where zyorderstatus is not null and zyorderstatus in (0,1,2))
            </if>
            <if test="@Ognl@isEmpty(mo.status) ">
              UNION ALL
            </if>
            <if test="(@Ognl@isNotEmpty(mo.status) and mo.status == 1) or @Ognl@isEmpty(mo.status)">
                select t2.gender,t2.patientname,t2.age,t2.mobile,t1.applyid,t1.createat as submittime,1 as status from t_b_prescription t1
                JOIN t_b_patient_item t2 on t1.patientid = t2.id
                where t1.iszydispensing = 0 and t1.orgcode = #{orgCode} and t1.id in
                        (select prescriptionid from t_b_prescription_item where zyorderstatus = 4
                            and prescriptionid not in
                            (select prescriptionid from t_b_prescription_item where zyorderstatus is not null and zyorderstatus in (0,1,2)))
            </if>
            <if test="@Ognl@isEmpty(mo.status) ">
              UNION ALL
            </if>
            <if test="(@Ognl@isNotEmpty(mo.status) and mo.status == 2) or @Ognl@isEmpty(mo.status)">
                select t2.gender,t2.patientname,t2.age,t2.mobile,t1.applyid,t1.createat as submittime,2 as status from t_b_prescription t1
                JOIN t_b_patient_item t2 on t1.patientid = t2.id
                where t1.iszydispensing = 1 and t1.orgcode = #{orgCode}
            </if>
        )tt
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(mo.startTime) ">
                    and tt.submittime >= #{mo.startTime}
                </if>
                <if test="@Ognl@isNotEmpty(mo.endTime) ">
                    <![CDATA[
                      and tt.submittime <= #{mo.endTime}
                    ]]>
                </if>
            </trim>
        </where>
        ORDER BY FIELD(tt.`status` ,1,0,2),tt.submittime DESC
    </select>

    <select id="getDispenseDetail" resultType="com.acmed.his.model.dto.ZyDispenseOrderDetailDto">
        select t1.drugname,t1.zymanufacturername as manufacturername,t1.retailprice,t1.num,t1.fee,
        CASE t1.zyorderstatus WHEN 4 THEN 1 ELSE 0 END isRecepit,
        t2.orderid,t3.expressname,t3.expressno
        from t_b_prescription_item t1
        LEFT JOIN t_zy_order_item t2 on t1.id = t2.preitemid
        LEFT JOIN t_zy_order t3 on t2.orderid = t3.id
        where t1.applyid = #{applyId} and zyorderstatus != 3;
    </select>


    <update id="updatePreItemStatusByIds">
        update t_b_prescription_item set zyOrderStatus = #{zyOrderStatus} where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </update>

    <update id="updatePreItemStatusByOrderId">
        update t_b_prescription_item set zyorderstatus = #{zyOrderStatus} where id in
        (
        select preitemid from t_zy_order_item where orderid = #{orderId}
        )
    </update>

    <update id="updatePreItemStatusById">
        update t_b_prescription_item set zyorderstatus = #{zyOrderStatus} where id = #{id}
    </update>
</mapper>