<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.AdviceTplMapper">
<resultMap id="adviceTpl" type="com.acmed.his.model.AdviceTpl">
    <id column="id" property="id"></id>
    <result column="orgCode" property="orgcode"></result>
    <result column="category" property="advice"></result>
    <result column="isValid" property="isvalid"></result>
</resultMap>

<select id="getList" parameterType="java.lang.Integer" resultMap="adviceTpl">
    select * from t_b_advice_tpl where orgcode = #{orgcode}
</select>
</mapper>