<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.AdviceTplMapper">
<resultMap id="adviceTpl" type="com.acmed.his.model.AdviceTpl">
    <id property="id" column="id"></id>
    <result property="orgCode" column="orgcode"></result>
    <result property="advice" column="advice"></result>
    <result property="isValid" column="isvalid"></result>
</resultMap>

<select id="getAdviceTplList"  resultMap="adviceTpl">
    select * from t_b_advice_tpl where orgcode = #{orgCode} and isvalid = #{isValid}
</select>
</mapper>