<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.DiagnosisTplMapper">
    <resultMap id="diagnosisTpl" type="com.acmed.his.model.DiagnosisTpl">
        <id property="id" column="id"></id>
        <result property="orgCode" column="orgcode"></result>
        <result property="category" column="category"></result>
        <result property="diagnosis" column="diagnosis"></result>
        <result property="isValid" column="isvalid"></result>
        <result property="memo" column="memo"></result>
    </resultMap>

    <select id="getDiagnosisTplList" resultMap="diagnosisTpl">
        select * from t_b_diagnosis_tpl where orgcode = #{orgCode} and isvalid = #{isValid}
    </select>
</mapper>