<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PrescriptionTplMapper">
    <resultMap id="adviceTpl" type="com.acmed.his.model.AdviceTpl">
        <id column="id" property="id"></id>
        <result column="orgCode" property="orgcode"></result>
        <result column="tplName" property="tplname"></result>
        <result column="pinYin" property="pinyin"></result>
        <result column="category" property="category"></result>
        <result column="diagnosis" property="diagnosis"></result>
        <result column="advice" property="advice"></result>
        <result column="description" property="description"></result>
    </resultMap>

    <select id="getList" parameterType="java.lang.Integer" resultMap="adviceTpl">
        select * from t_b_advice_tpl where orgcode = #{orgcode}
    </select>
</mapper>