<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acmed.his.dao.PrescriptionTplMapper">
    <resultMap id="prescriptionTpl" type="com.acmed.his.model.PrescriptionTpl">
        <id property="id" column="id"></id>
        <result property="orgCode" column="orgcode"></result>
        <result property="tplName" column="tplname"></result>
        <result property="pinYin" column="pinyin"></result>
        <result property="category" column="category"></result>
        <result property="diagnosis" column="diagnosis"></result>
        <result property="advice" column="advice"></result>
        <result property="description" column="description"></result>
        <result property="isValid" column="isvalid"></result>
        <result property="createBy" column="createby"></result>
        <result property="createAt" column="createat"></result>
        <result property="modifyBy" column="modifyby"></result>
        <result property="modifyAt" column="modifyat"></result>
    </resultMap>

    <select id="getPrescripTplList"  resultMap="prescriptionTpl">
        select * from t_b_prescription_tpl where orgcode = #{orgCode} and isvalid = #{isValid}
        <if test="@Ognl@isNotEmpty(category)">
            and category = #{category}
        </if>
    </select>

    <select id="selectRecentTpl" resultType="com.acmed.his.model.PrescriptionTpl" resultMap="prescriptionTpl">
        select * from t_b_prescription_tpl
        where orgcode = #{orgCode} and tplname = #{tplName} and createby = #{createBy}
        order by createat DESC
        limit 1
    </select>
</mapper>